
{{> head }}

    {{>navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Cápitan America</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis provident minus voluptatibus, sit numquam sint quod error. Eos nostrum vel ea corporis voluptatum ratione molestias, quibusdam aperiam, explicabo suscipit sequi.
            </p>
        </div>

        <div class="col-8">
            <img src="assets/img/capitan-america.png" class="img-thumbnail">
        </div>
    </div>

{{>footer}}